/** index.css */
:root {
    --root-font-size: 12px;
    --bg: #cccccc;
}

/** Reset */
html, body, nav, ul, h1, h2, h3, h4, a, canvas {
    margin: 20px;
    padding: 0px;
    color: var(--text-color);
}
html, body {
    font-family: 'Helvetica', sans-serif;
    font-size: var(--root-font-size);
    background: var(--bg);
    height: 100%;
    width: 100%;
}
*, body, button, input, select, textarea, canvas {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: 0;
}

#wrapper {
    /*border: 1px solid black;*/
    overflow: hidden;
}

#canvasdiv {
    float:left;
    /* border: 1px solid red; */
}

#textAreadiv {
    /* border: 1px solid green; */
    overflow: hidden;
}