/** index.css */
:root {
    --root-font-size: 12px;
    --bg: #cccccc;

    --medium-aquamarine: #76e5c4;
    --deep-champagne: #f5d491;
    --thistle: #e8c7de;
    --independence: #3a405a;

    --snow: #f7f3f2ff;
    --cinereous: #a18e8bff;
    --redwood: #996056ff;
    --black-coffee: #413438ff;
  }
  
  /** Reset */
  html,
  body,
  nav,
  ul,
  h1,
  h2,
  h3,
  h4,
  a,
  canvas {
    margin: 20px;
    padding: 0px;
    color: var(--text-color);
  }
  html,
  body {
    font-family: "Helvetica", sans-serif;
    font-size: var(--root-font-size);
    background: var(--bg);
    height: 100%;
    width: 100%;
  }
  *,
  body,
  button,
  input,
  select,
  textarea,
  canvas {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: 0;
  }
  
  #wrapper {
    overflow: hidden;
  }
  
  #canvasdiv {
    float: left;
  }
  
  #textAreadiv {
    overflow: hidden;
  }
  